<p id="notice"><%= notice %></p>

<h1>Page Links</h1>

<table>
  <thead>
    <tr>
      <th>Scope</th>
      <th>Name</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_links.each do |page_link| %>
      <tr>
        <td><%= page_link.scope %></td>
        <td><%= page_link.name %></td>
        <td><%= page_link.position %></td>
        <td><%= link_to 'Show', page_link %></td>
        <td><%= link_to 'Edit', edit_page_link_path(page_link) %></td>
        <td><%= link_to 'Destroy', page_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page Link', new_page_link_path %>
