<!DOCTYPE html>
<html>
  <head>
    <title>DynamicPages</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/main_navigation' %>
    <%= @dynamic_nav %>
    <% if @dynamic_nav %>
      <%= render "layouts/sub_layouts/sub_layout", page_link: @page_navigation_link %>
    <% end %>
    <%= yield %>
  </body>
</html>
